@model LaRutaNet.Models.User

@{
    ViewData["Title"] = "Editar Usuario";
}

<div class="container mt-5">

    <div class="mb-4">
        <h2 class="fw-bold">Editar Usuario</h2>
        <p class="text-muted">Actualiza la información del usuario</p>
    </div>

    <div class="card shadow-sm">
        <div class="card-body">

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>

                <input type="hidden" asp-for="Id" />

                <div class="row">

                    <div class="col-md-6 mb-3">
                        <label asp-for="Active" class="form-label"></label>
                        <input asp-for="Active" class="form-control" />
                        <span asp-validation-for="Active" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Email" class="form-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="FirstName" class="form-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="LastName" class="form-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Gender" class="form-label"></label>
                        <select id="Gender" name="Gender" asp-for="Gender" class="form-control" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="M">MASCULINO</option>
                            <option value="F">FEMENINO</option>
                        </select>
                        <span asp-validation-for="Gender" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Role" class="form-label"></label>
                        <select id="Role" name="Role" asp-for="Role" class="form-control" required>
                            <option value="">Seleccione una categoría</option>
                            <option value="CLIENT">CLIENTE</option>
                            <option value="ADMIN">ADMINISTRADOR</option>
                        </select>
                        <span asp-validation-for="Role" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Height" class="form-label"></label>
                        <input asp-for="Height" class="form-control" />
                        <span asp-validation-for="Height" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Weight" class="form-label"></label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="SecondName" class="form-label"></label>
                        <input asp-for="SecondName" class="form-control" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="SecondLastName" class="form-label"></label>
                        <input asp-for="SecondLastName" class="form-control" />
                        <span asp-validation-for="SecondLastName" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Username" class="form-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label asp-for="Password" class="form-label"></label>
                        <input type="password" asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                </div>

                <div class="d-flex gap-2 mt-4">
                    <button type="submit" class="btn btn-primary">
                        Guardar Cambios
                    </button>

                    <a asp-action="Index" class="btn btn-secondary">
                        Volver
                    </a>
                </div>

            </form>

        </div>
    </div>

</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
